
:root {
    --primary-bg: #0b0f19; /*#292929 Primary Background */
    --secondary-bg: #141c2e; /*#3c3c3c Secondary Background */
    --primary-text: #ffffff; /* Primary Text */
    --secondary-text: #bbbbbb; /* Secondary Text */
    --link-text: #bb86fc; /* Link Text */
    --button-bg: #bb86fc; /* Button Background */
    --button-text: #000000; /* Button Text */
    --border-color: #333333; /* Border Color */
    --slider-border-color: #eeeeee;
}

[data-theme="light"] {
    --primary-bg: #e4e4e4;
    --secondary-bg: #d1d1d1;
    --primary-text: #333333;
    --secondary-text: #666666;
    --link-text: #007bff;
    --button-bg: #007bff;
    --button-text: #ffffff;
    --border-color: #cccccc;
    --slider-border-color: #292929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
}

a {
    color: var(--link-text);
}

.theme-switch-wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
}

@media (max-width: 400px) {
    .theme-switch-wrapper {
    right: 12px;
    }
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid var(--slider-border-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #9a9a9a;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    border-color: var(--slider-border-color);
}

input:checked + .slider:before {
    left: calc(100% - 30px);
}

.theme-icon {
    position: absolute;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
}

#moon-icon {
    left: 10px;
    color: #7300ff;
}

#sun-icon {
    right: 10px;
    color: #fffb00;
}

.theme-icon {
    display: none;
}

[data-theme="light"] #moon-icon,
#sun-icon {
    display: inline;
}

[data-theme="light"] #sun-icon,
#moon-icon {
    display: none;
}

p {
    color: var(--secondary-text);    
}

.home-icon-wrapper {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
}

@media (max-width: 400px) {
    .home-icon-wrapper {
    left: 12px;
    }
}

.home-icon-wrapper a {
    font-size: 21px;
    color: var(--primary-text);
}

.divider {
    height: 20px;
    width: 100%;
    clear: both;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

.bitmoji img {
    width: 220px;
    height: 220px;
    margin-right: 10px;
    border-radius: 50%;
}

.icon-holder {
    font-size: 25px;
    margin-top: 5px;
}

.icon-link {
    text-decoration: none;
    margin-right: 10px;
    color: var(--primary-text);
}

.project-logo img {
    width: 220px;
    height: 220px;
    margin-right: 10px;
    border-radius: 20%;
}

.information-container {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
}

.project-card {
    flex: 1;
    max-width: 290px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.project-image {
    width: 250px;
    height: auto;
    border-radius: 25px;
    margin-bottom: 16px;
}

.link-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.link-box {
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    text-decoration: none;
    color: inherit;
}

.link-box .fas, .fab {
    margin-right: 10px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65%;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .text-container {
        width: 80%;
    }
}

.biography-container {
    display: flex;
    flex: 1;
    width: 80%;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    max-width: 550px;
    margin-right: 60px;
    margin-left: 60px;
}

.bio-element {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: left;
    align-items: center;
}

.bio-image {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid var(--slider-border-color);
}

.bio-text {
    margin-left: 20px;
}

.llama-care-video {
    width: 65%;
}

@media screen and (max-width: 600px) {
    .llama-care-video {
        width: 90%;
    }
}

.cover-image {
    width: 65%;
}

@media screen and (max-width: 600px) {
    .cover-image {
        width: 90%;
    }
}
